name: Build and Test

on:
  push:
    branches: main
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    
    - name: Build
      run: dotnet build news-score-api.sln --configuration Release
    
    - name: Test
      run: dotnet test news-score-api.sln --no-build --configuration Release

